
*{
    padding: 0;
    margin: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}
.menu-bar{
    background-color: black;
    text-align: left;
    width: 100%;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li{
    margin: 0px 20px;
    padding: 10px;
    color: blanchedalmond;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.menu-bar ul li:hover{
    color: white;
}
/* .menu-bar ul li:hover a{
    color:black;
} */
.sub-class-1{
    display: none;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 5px;
}
.menu-bar ul li:hover .sub-class-1{
    display: block;
    position: absolute;
    background-color: white;
    margin-left: 0;
    margin-top: 10px;
}
.menu-bar ul li:hover .sub-class-1 ul{
    display: block;
    text-align: left;
    padding: 10px 0px;
}
.menu-bar ul li:hover .sub-class-1 ul li{
    /* width: 100px; */
    margin: 0px;
    padding: 9px 50px;
    padding-left: 15%;
}
.menu-bar ul li:hover .sub-class-1 ul li a{
    color: black;
}
.menu-bar ul li:hover .sub-class-1 ul li:hover{
    background-color: grey;
}
.menu-bar ul li:hover .sub-class-1 ul li:hover a{
    color: white;
}
.sub-class-2{
    display: none;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 5px;
}
.hover-me:hover .sub-class-2{
    display: block;
    position: absolute;
    margin-left: 105px;
    margin-top: -20px;
    background-color: white;
}
.menu-bar ul li:hover .sub-class-1 ul .hover-me:hover .sub-class-2 ul li a{
    color: black;
}
.menu-bar ul li:hover .sub-class-1 ul .hover-me:hover .sub-class-2 ul li:hover a{
    color: white;
}
