body{
    background-color: rgb(245, 251, 251);
}
.img_wt{
    width: 100%;
    height: 425px;
}
.img_size{
    width: 100%;  
}
.img_size:hover{
    filter: blur(2px);
    border: 2px solid black;
    /* filter: grayscale(100%); */
}
.centered {
    color: white;
    font-size: 25px;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered:hover{
    text-shadow: 3px 3px 1px black;
}
.main{
    background-color: white;
}
.pro_size{
    width: 100%;
    border: 1px solid black;
    height: 100px;
}
.foo_main{
    background: black;
    color: white;
}
#con{
    border: 1px solid white; 
    width: 300px; 
    padding: 5px; 
    font-size: 15px;
}
#con:focus{
    outline: none;
}
#con_btn{
    background-color: white; 
    border: 1px solid white;
}
#con_btn:focus{
    outline: none;
}
.mm{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.vi_btn{
    border: 1px solid black; 
    color:black;  
    background: white;          
}
.vi_btn:hover{
    border: 1px solid white;
    color: white;
    background-color: black;
    text-decoration: none;
}