*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main_div{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.box{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
    border-radius: 10px;
    margin: 0 10%;
}
.box .inputbox{
    position: relative;
}
.box .inputbox input{
    /* width: 100%; */
    padding: 10px;
    font-size: 16px;
    color: white;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    margin-bottom: 30px;
    outline: none;
}
.box .inputbox label{
    position: absolute;
    top: 0;
    left: 10px;
    color: white;
    padding: 10px 0;
    transition: 1s;
}
.box input[ type="submit" ]{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    width: 60%;
    padding: 3px 35px;
    outline: none;
    margin-top: 15px;
}
.box .inputbox input:focus ~ label , .box .inputbox input:valid ~ label{
    top: -25px;
    left: 0px;
    font-size: 13px;
    color: chartreuse;
}

@media (max-width: 350px){
    .box{
        padding: 50px 30px;
    }
    .box .inputbox input{
        width: 95%;
    }   
    .box input[ type="submit" ]{
        padding: 3px 10px;
    }
}