{% extends 'store/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock styles %}

{% block title%}Profile{% endblock title%}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}
<div class="container">
    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{error_message}}
    </div>
    {% endif %}
    <div class="container">
        <div class="main_div">
            <div class="box text-center">
                <!-- <img src="{% static 'images/user.png' %}" alt="" srcset="" class="profile_img"> -->
                <h1 class="text-white mb-5">Password</h1>
                <form action="" method="POST" class="mt-5" autocomplete="off">
                    {% csrf_token %}
                    {% for fm in form %}
                    <div class=" inputbox">
                        {{fm}}
                        {{fm.label_tag}}
                    </div>
                    {% endfor %}
                    <input type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}