{% extends 'store/base.html' %}
{% load static %}
{% load reviews%}

{% block styles %}
<style>
    .container{
        /* margin-top: 15vh; */
        display: flex;
        justify-content: center;
        color: red;
        align-items: center;
        height: 60vh;
    }
    .main a{
        border: 1px solid black;
        padding: 5px 40px;
        text-decoration: none;
        color: black;
        margin: 15px;
    }
    .main a:hover{
        background-color: black;
        color: white;
    }
</style>
{% endblock styles %}

{% block title%}Delete Account{% endblock title%}

{% block content %}

<div class="container">
    <div class="main text-center">
        <h1 class="mb-5">Are you sure you want to delete your account?</h1>
        <a href="{% url 'del_account' id %}">Yes</a>
        <a href="{% url 'home' %}">No</a>
    </div>
</div>

{% endblock content %}