{% extends 'store/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/login1.css' %}">
{% endblock style %}

{% block title%}Login{% endblock title%}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}
<div class="container">
    <div class="main_div">
        <div class="box text-center">
            <h1 class="text-white mb-5">Login</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="inputbox">
                    <input id="name" type="text" autocomplete="off" name="username" required>
                    <label for="name">name</label>
                </div>
                <div class="inputbox">
                    <input id="pass" type="password" autocomplete="off" required name="pass">
                    <label for="pass">password</label>
                </div>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</div>

{% endblock content %}