{% extends 'store/base.html' %}
{% load cart %}
{% load userss %}
{% load reviews %}

{% block styles %}

<style>
    .mar {
        padding-top: 5px;
    }

    .n {
        color: white;
        background-color: rgb(236, 96, 2);
    }
    .bor_bot{
        font-weight: bold;
        border-bottom: 1px solid rgb(224, 224, 224);
    }
    th{
        border-bottom: 2px solid black;
        border-top: 2px solid black; 
    }
    .tr_row:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    tbody tr a{
        border: 1px solid black;
        padding: 2px 25px;
        text-decoration: none;
        color: black;
        transition: 1s;
    }
    tbody tr a:hover{
        background-color: black;
        color: white;
        text-decoration: none;
    }
    .nothing_img{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        flex-direction: column;
    }
</style>

{% endblock styles %}

{% block title %}Order{% endblock title %}

{% block content %}

{% if nm %}
<div class="table-responsive">
    <div class="container">
        <div class="mx-4 my-5">
            <div class="py-3 pl-5">
                <h1>Your Orders</h1>
            </div>
            <table class="table mx-auto" style="width: 1000px;">
                <thead style="width: 400px;">
                    <tr style="text-align: center;">
                        <th style="border-bottom: 2px solid black; border-top: 2px solid black; " >Order Date</th>
                        <th style="border-bottom: 2px solid black; border-top: 2px solid black; " >Product Name</th>
                        <th style="border-bottom: 2px solid black; border-top: 2px solid black; " >Quantity</th>
                        <th style="border-bottom: 2px solid black; border-top: 2px solid black; " >Total Price</th>
                        <th style="border-bottom: 2px solid black; border-top: 2px solid black; " >Product Receipt</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    {% if nm|condition:product.customer %}
                    <tr class="tr_row text-center pt-3">
                        <td class="bor_bot">{{product.date}}</td>
                        <td class="bor_bot">{{product.product}}</td>
                        <td class="bor_bot">{{product.quantity}}</td>
                        <td class="bor_bot"> ₹ {{product.price}}</td>
                        <td class="bor_bot"><a href="{% url 'productview' product.order_id %}" type="button"
                            >View Product</a>
                            <!-- <a href="{% url 'productview' product.order_id %}" class="btn n py-1">View Product</a></td> -->
                    </tr>

                    {% endif %}
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="mx-auto nothing_img">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Shopping_cart_with_food_clip_art_2.svg/307px-Shopping_cart_with_food_clip_art_2.svg.png"
                alt="">
            <h1 class="pt-4 text-danger">Nothing In Cart</h1>
        </div>
    </div>
</div>
{% endif %}



<!-- {% for product in products %}
        {% for usercart,vaue in usercarts.items %}
            {% if product.id == usercart|to_int %}
                {{product.name}} 
                {{vaue}}
                <p>price: {{product.price}}</p>
                <p>{{vaue|total_price:product.price}}</p>
            {% endif %}
        {% endfor %}
    {% endfor %} -->

{% endblock content %}