{% extends 'store/base.html' %}
{% load static %}
{% load reviews%}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/filter.css' %}">
{% endblock styles %}

{% block title%}Search{% endblock title%}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{message}}
      </div>
    {% endfor %}
{% endif %}
{% if not content %}
<div class="container-fluid">
    <p class="mt-3 mx-3 ti_fo">MENS</p>
    <hr color="black">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 my-5">
        {% for product in products %}
        <div class="col mb-5">
            <div style="width: 18rem;" class="mx-auto">
                <img src="{{product.images.url}}" style="width: 250x; height: 250px; border: 1px solid black;"
                    class="mx-auto p-3 card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <br>
                    <h3 style="font-family: serif;">Price :- ₹ {{product.price|offer_price:product.offer}}</h3>
                    <p class="card-text">{{product.description}}</p>
                    <div>
                        <a href="{% url 'addtocart' product.id %}" type="button" class="my-4 pt-1 px-3 vi_btn">Add To Cart</a>
                        <a href="{% url 'productview' product.id %}" type="button" class="my-4 pt-1 px-3 vi_btn">View Product</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<!-- <div class="container-fluid mt-5">
    <div class="row  mx-auto">
        {% for product in products %}
            <div class="card mx-auto mb-5" style="width: 18rem;">
                <img src="{{product.images.url}}" class="card-img-top p-3" alt="card">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <h5 class="card-title">Price :- {{product.price}} Rs.</h5>
                    <p class="card-text">{{product.description}}</p>
                    
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="text" name="product" value="{{product.id}}" hidden>
                        <input href="#" type="submit" class="btn btn-outline-success" value="Add to Cart">
                    </form>
                    <a href="{% url 'addtocart' product.id %}" class="btn btn-outline-success ml-1">Add To Cart</a>
                    <a href="{% url 'productview' product.id %}" class="btn btn-outline-success ml-1">View Product</a>
                    
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="#" type="button" class="right-bottom">up</a>
</div> -->

{% else %}

<div class="container mx-auto" style="text-align: center; width: 1000px; margin-top: 15%; color: red;">
    <h1>{{content}}.</h1>
</div>

{% endif %}

{% endblock content %}