{% extends 'store/base.html' %}
{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'css/signup1.css' %}">

{% endblock styles %}

{% block title%}Sign Up{% endblock title%}


{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}
<div class="container">
    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{error_message}}
    </div>
    {% endif %}
    <div class="main_div">
        <div class="box text-center">
            <h1 class="text-white mb-5">Sign Up</h1>
            <form action="" method="POST" autocomplete="off">
                {% csrf_token %}
                {% for fm in form %}
                <div class="inputbox">
                    {{fm}}
                    {{fm.label_tag}}
                </div>
                {% endfor %}
                <input type="submit" value="Sign Up">
            </form>
        </div>
    </div>
</div>

{% endblock content %}