# if products.offer == 0:
                #     if int(ranges) >= products.price:
                #         if products in filter_product:
                #             pass
                #         else:
                #             filter_product.append(products)
                #             # print(filter_product)
                # else:
                #     o = products.offer
                #     # print(o)
                #     p = products.price
                #     # print(p)
                #     a = o * p
                #     print(a)
                #     b = a/100
                #     # print(b)
                #     c = products.price - b
                    # print(c)




search



# if i == 'under' or i == 'below':
            #     print('search inside ifygggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg',search)
            #     # search_product.append()
            #     # match = Product.objects.filter()

            #     # perform AND operation
            #     # match = Product.objects.filter(name__icontains=search).filter(description__icontains=search)
            #     # if match:
            #     #     return render(request,'store/search.html',{'products':match,'categories':category, 'subcates':subcates})    
            #     # else:
            #     #     content = 'No Result Found'
            #     #     return render(request,'store/search.html',{'content':content,'categories':category, 'subcates':subcates})
            # else:
            #     match = Product.objects.filter(Q(name__icontains=i)|Q(description__icontains=i))
            #     search_product.append(match)
            #     print('search_product',search_product)
            #     # perform AND operation
            #     # match = Product.objects.filter(name__icontains=search).filter(description__icontains=search)
            #     # if match:
            #     #     return render(request,'store/search.html',{'products':match,'categories':category, 'subcates':subcates})    
            #     # else:
            #     #     content = 'No Result Found'
            #     #     return render(request,'store/search.html',{'content':content,'categories':category, 'subcates':subcates})
        # content = 'Please Enter Something in Search Box'