# if products.offer == 0:
                #     if int(ranges) >= products.price:
                #         if products in filter_product:
                #             pass
                #         else:
                #             filter_product.append(products)
                #             # print(filter_product)
                # else:
                #     o = products.offer
                #     # print(o)
                #     p = products.price
                #     # print(p)
                #     a = o * p
                #     print(a)
                #     b = a/100
                #     # print(b)
                #     c = products.price - b
                    # print(c)